{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'data.js') }}"
></script>


<div class="container">
    <div class="row draft-header">
        Finished Invitation:
    </div>
    <div class="row">
        <input type="text" class="detail-draft" name="detail-draft">
    </div>
    <div class="row entry">
        <div class="col-6">
            <button onclick="window.location.href='/desc-correct-draft'" class="correction-btn" style="width:60%; padding:10px;">Make a Correction</button>
        </div>
        <div class="col-6">
            <button onclick="window.location.href='/desc-add-draft'" class="correction-btn" style="width:60%; padding:10px;">Add Information</button>
        </div>
    </div>
</div>
{% endblock %}