{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'data.js') }}"
></script>


<div class="container">
    <div class="row draft-header">
        Draft:
    </div>
    <div class="row">
        <input type="text" class="detail-draft" name="detail-draft">
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6" style="margin-top:20px; margin-bottom:20px; font-size:xx-large; text-align:center">
            Anything else that should be added to the invite?
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-2"></div>
        <div class="col-6">
            <input type="text" class="detail-feedback" name="detail-feedback" placeholder="Additional Information">
        </div>
        <div class="col-2">
            <!--On Button Press, reload the page with new information from Form-->
            <form action="/desc-add-draft">
                <input class="correction-btn" type="submit" value="Add Info">
            </form>
        </div>
        
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6" style="text-align: center; margin-top: 80px;">
            <!-- Link to Finish Page below after 'href'--->
            <button onclick="window.location.href='   '" class="looks-correct" type="submit"> Finish </button>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}