{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'data.js') }}"

></script>

<script>

    $(document).ready(function(){
        $.ajax({
        type: "GET",
        url: "invite",
        success: function(result){
            $("#home-draft").text(result["invitation"])
        },          
        error: function(request, status, error){
            console.log("Error");
            console.log(request)
            console.log(status)
            console.log(error)
        }
        });

        $("#submit_correction").click(function(){
            var c = $("#correction").val();
            console.log("hi")
            //window.location.href='details-draft';
            
            $.ajax({
            type: "POST",
            url: "fix",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({correction: c}),
            success: function(result){
                setTimeout(function(){window.location.href='details-draft'},5000)
            },          
            error: function(request, status, error){
                console.log("Error");
                console.log(request)
                console.log(status)
                console.log(error)
            }
            });

            console.log("bye")
            //setTimeout(function(){window.location.href='details-draft'},5000)
            //setTimeout(reload(),5000)
        })
    })
</script>

<div class="container">
    <div class="row draft-header">
        Draft:
    </div>
    <div class="row">
        <div id="home-draft" type="text" class="detail-draft" name="detail-draft"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6 skip-header">
            Here is your invitation so far. If needed, submit a correction to update any incorrect invite info. 
            When you are ready to move on to the next step, click the green button.
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-2" style="font-size:x-large;">
            Correction:
        </div>
        <div class="col-6">
            <input id = "correction" type="text" class="detail-feedback" name="detail-feedback-draft" placeholder="Feedback">
        </div>
        <div class="col-3">
            <!--On Button Press, reload the page with new information from Form-->
            <form>
                <input id="submit_correction" class="correction-btn" type="submit" value="Submit Correction">
            </form>
        </div>
        
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6" style="text-align: center; margin-top: 80px;">
            <button onclick="window.location.href='/theme'" class="looks-correct" type="submit"> It All Looks Correct! </button>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}